<style type="text/css">
body {
  background-image: url(http://discoveriesindisplacement.com/files/timetravel2.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  z-index: -1;
  top: 0px;
  left: 0px;
}

div.search {
  margin-top: 68%;
  margin-left: 35%;
  width: 500px;
  height: 40px;
}

a {
  padding-left: 10px;
}

</style>

<body>

<div class="search">
  <select ng-model="vm.selYear">
  <option value="">Select a Specific Year</option>
  <option ng-repeat="year in vm.years_list track by $index" value="{{year}}">{{year}}</option>
</select><br>
<a ui-sref="year({year: vm.selYear })" ng-show="vm.selYear">Go to Selected Year!</a>
<a ui-sref="years">or Take a Walk Through Time!</a><br>
</div>



</body>
