<style type="text/css">
body {
  background-image: url(http://www.ancient-origins.net/sites/default/files/styles/large/public/field/image/time-travel.jpg?itok=NqdEm4PS);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  top: 0px;
  left: 0px;
}

div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
}

div.transbox p {
    margin: 5%;
    padding-left: 30px;
    font-weight: bold;
    color: #000000;
}

h5 {
  font-weight: bold;
  margin-left: 15px;
}

.links {
  font-weight: bold;
  text-align: center;
}

</style>

<body>


<div class="transbox">
<center><h1>Year - {{vm.year.year_number}}</h1></center><br>
  <div class="links">
  <a ui-sref="home">Homepage</a><br><br>
  <a ui-sref="years">All Years</a><br><br>
  </div>
</div>

<div class="transbox">
<div class="search">
  <select ng-model="vm.selYear">
  <option value="">Select Another Year</option>
   <option ng-repeat="year in vm.years_list track by $index" value="{{year}}">{{year}}</option>
</select>
<a ui-sref="year({year: vm.selYear})" ng-show="vm.selYear">Go to Selected Year!</a>
</div>
</div>

<div class="transbox">
<h5>World Events</h5>
<p ng-repeat="world_events in vm.year.world_events track by $index">{{world_events}}</p>
</div>

<div class="transbox">
<h5>U.S. Events</h5>
<p ng-repeat="us_events in vm.year.us_events track by $index">{{us_events}}</p>
</div>

<div class="transbox">
<h5>Entertainment</h5>
<p ng-repeat="entertainment in vm.year.entertainment track by $index">{{entertainment}}</p>
</div>

<div class="transbox">
<h5>Science</h5>
<p ng-repeat="science in vm.year.science track by $index">{{science}}</p>
</div>

</body>

