
<div>
<% @years.each do |year| %> <br>
<h2><%= year.year_number %></h2>
  <h3>World Events</h3>
  <%= year.world_events %> <br>
  <h3>Entertainment</h3>
  <%= year.entertainment %> <br>
  <h3>Science</h3>
  <%= year.science %> <br><br><br>
</div>
<% end %>
